@font-face {
    font-family: "Bariol";
    src: url(Fonts/bariolbold.ttf);
}
@font-face {
    font-family: "BariolThin";
    src: url(Fonts/bariolthin1.ttf);
}
@font-face {
    font-family: "Cooper";
    src: url(Fonts/cooperm.ttf)
}
*{
    padding: 0;
    margin: 0;
}
/*HEADER */
header h1 {
    float:left;
    margin-left: 10px;
    font-family:Bariol;
    clear:both;
}
h1 a{
    text-decoration: none;
}
h1 a:visited{
    color: black;
}
h1 a:hover{
    color: plum;
}
nav {
    float: right;
    list-style:none;
    margin-top: 10px;
}
nav ul li{
    display:inline-block;
    margin-right: 10px;
    font-family:BariolThin;
}
nav ul li a{
    text-decoration:none;
}
nav ul li a:visited{
    color:black;
}
nav ul li a:hover{
    color:plum;
}
/*BODY*/
body{
    background:linear-gradient(#ffffff,#b34ef6);
    min-height:100vh;
}
/*DIVS*/

.apply{
    clear:both;
    margin-left:10px;
    padding-top:50px;
    text-align: center;
    font-family:Cooper;
    font-weight:bolder;
    padding:20px;
}
/*SVG*/

svg{
    width: 30%;
    height:30%;
}
.svg{
    margin-left:100px;
}
#smoke{
    animation-name: smoke;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes smoke{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}